.profile__info{
    max-width: 345px;
    margin-top: 23px;display: -webkit-box;display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
   
    
}

@media (max-width: 750px){
    .profile__info{
        max-width: 280px;
    }
}