.page {
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #000000;
    color: white;
    display: grid;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}