.card__description{
    background-color: #FFFFFF;
    color: black;
    height: 79px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    max-width: 246px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

}