.popup__save-btn_disabled{
  
    color: #E5E5E5;
    cursor: default;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.popup__save-btn:disabled{
  
    color: #E5E5E5;
    cursor: default;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
}