@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: 882px;
    margin: 66px auto 0;
    padding: 0 40px 60px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 320px) {
    .footer {
        margin: 50px auto 0;
        padding-bottom: 36px;
        box-sizing: border-box;
    }
}