@import url(./__description/card__description.css);
@import url(./__image/card__image.css);
@import url(./__like-btn/card__like-btn.css);
@import url(./__like-btn/_active/card__like-btn_active.css);
@import url(./__title/card__title.css);
@import url(./__trash/card__trash.css);
@import url(./__trash/__trash_hidden/card__trash_hidden.css);
@import url(./__like/card__like.css);
@import url(./__like-counter/card__like-counter.css);


.card{
    max-width: 282px;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
