.header__burger {
    display: none;
}
@media (max-width: 750px) {
    .header__burger {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 30px;
        margin-top: 7px;
        background-color: black;
        outline: none;
        border: none;
    }    
}
.header__burger:hover{
    opacity: 0.6;
}